body {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.question {
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d940ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e91e63;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
