body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.movable-block {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blue;
    position: absolute;
    cursor: pointer;
}

#block1 {
    background-color: red;
}

#block2 {
    background-color: green;
}

#block3 {
    background-color: yellow;
}
