body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('Background.png'); /* Укажите путь к вашему фоновому изображению */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(27, 209, 230, 0.7); /* Полупрозрачный черный фон */
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
