# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#vscode
.vscode

#project files
chromedriver_win32
chromeprofile

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class