body {
    font-family: Arial, Helvetica, sans-serif;
}

.horizontal-menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.horizontal-menu li {
    margin-right: 20px;
}

.horizontal-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

.horizontal-menu a:hover {
    background-color: white;
    color: red;
    font-style: italic;
}