body {
    margin: 0;
    overflow: hidden;
}

.game-area {
    width: 100vw;
    height: 100vh;
    background-color: #fbfbfb;
    position: relative;
}

.snake {
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
}

.food {
    width: 10px;
    height: 10px;
    background-color: red;
    background-size: cover;
    position: absolute;
}
