.chat-window {
  display: none;
  flex-direction: column;
  height: 100%;
  background-color: #222;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}