body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.squares-container {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.fourth {
    background-color: gray;
}
