{% extends 'admin/admin_base.html' %}

{% block body %}
<style>
    body{
           background-color:rgb(140, 212, 221);
       }
       form{
           display: block;
           margin-left: 500px;
           
           width: 400px;
       }
       button[type="submit"]{
           background:forestgreen;
       }
</style>
<body>
<div class="container" style="margin: 100px;">
    <h2>обновление о нас</h2>
    <br>
    <form action="{% url 'update_about' about.id %}" method="post">
        {% csrf_token %}
        <textarea name="text" class="form-control" cols="30" rows="10">{{ about.about }}</textarea>
        <br>
        <input type="submit" class="form-control btn btn-primary" value="Обновить">
    </form>
</div>
</body>
{% endblock %}