{% extends 'admin/admin_base.html' %}

{% block body %}
<style>
     body{
            background-color:rgb(140, 212, 221);
        }
        form{
            display: block;
            margin-left: 500px;
            
            width: 400px;
        }
        button[type="submit"]{
            background:forestgreen;
        }
</style>
<body>
<div class="container" style="margin: 100px;">
    <h2>обновить контакты</h2>
    <br>
    {% if contactDetails %}
    <form action="{% url 'update_contact' contactDetails.0.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="address" value="{{ contactDetails.0.address }}" placeholder="Address" class="form-control">
        <br>
        <input type="email" name="email" value="{{ contactDetails.0.email }}" placeholder="Email" class="form-control">
        <br>
        <input type="number" name="contact" value="{{ contactDetails.0.contact_num }}" placeholder="Contact Number" class="form-control">
        <br>
        <input type="submit" class="form-control btn btn-primary" value="Обновить">
    </form>
    {% endif %}
</div>
</body>
{% endblock %}