{% extends 'admin/admin_base.html' %}
{% load static %}
{% block body %}
<body>
  <style>
    body{
        background-color:mediumaquamarine;
    }
    input[type="text"]{
        margin-left: 440px;
        width: 30%;
    }
    input[type="email"]{
        margin-left: 440px;
        width: 30%;
    }
    input[type="tel"]{
        margin-left: 440px;
        width: 30%;
    }
    input[type="submit"]{
        margin-left: 440px;
        width: 30%;
        position: relative;
        top: -60px;
    }
    select, .form-select, option{
        margin-left: 440px;
        width: 30%;
    }
    .hr{
        width: 7px solid blue;
        height: 3px solid violet;
    }
    label, .input-group-text{
        margin-left: 440px;
        width: 30%;
    }
    .background-video {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
    }
        </style>   
<div class="container" style="margin: 80px;">
            <hr class="verticalLine">
    <h2>Add Faculty</h2>
    <form action="{% url 'add_teacher' %}" method="post">
        {% csrf_token %}
        <input type="text" name="full_name" class="form-control" placeholder="Полное имя">
        <br>
        <input type="email" name="email" placeholder="Электронная почта" class="form-control">
        <br>
        <input type="tel" name="contact_number" class="form-control" placeholder="Контактный номер">
        <br>
        <input type="text" placeholder="Упоминать квалификацию" class="form-control" name="qualification">
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Определение пола: </label>
        </div>
            <hr>
            <select class="form-select" name="gender" id="inputGroupSelect01" required>
              <option selected>{{student.gender}}</option>
              <option value="Male">мужской</option>
              <option value="Female">женский</option> 
            </select>
        </div>
        <br><br>
       
       
            
        <input type="submit" class="btn btn-primary form-control" value="Добавить факультет">
    </form>
</div>  

</body>
{% endblock %}