@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.phone-frame {
  border: 0px;
}

/* под комп */
@media (orientation: landscape) {
  .phone-frame {
    border: 10px solid #5d0697;
    max-width: 400px;
    height: 100%;
    max-height: 800px;
    border-radius: 30px;
  }
  .www {
    z-index: 12;
    padding-left: 15%;
  }
  .separator, .separator1 {
    width: 80%;
  }
}

/* под мобилу */
@media (orientation: portrait) {
  .phone-frame {
    border: 0px;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 1px;
  }
  .www {
    z-index: 12;
    padding-left: 79%;
  }
  .separator, .separator1 {
    width: 86%;
  }
}

.phone-frame {
  width: 100%;
  background-color: #2d1934;
  position: relative;
  overflow: hidden;
}
.phone-head{
  display: flex;
  align-items: center;
}
.time_in {
  z-index: 9999;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
  font-family: 'Arial', sans-serif;
  font-weight: 20;
}
.www {
  position: fixed;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #341c3c;
}
.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header-left .icon {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}
.header-left .icon .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header-title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.header-right {
  width: 40px;
  height: 40px;
  background-image: url('./img/луп_чист.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  padding: 0.5%;
}
.chat-list {
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
}
.chat-item {
  display: flex;
  background-color: #2d1934;
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: #000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}
.separator, .separator1 {
  height: 0.2px;
  background-color: #000000;
  margin: 10px 0;
  margin-left: 6vh;
}
.chat-item:hover {
  background-color: #555;
}
.chat-item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-item .message-info {
  flex-grow: 1;
}
.chat-item .message-info .title {
  font-weight: bold;
}
.chat-item .message-info .content {
  color: #aaa;
}
.chat-item .time {
  font-size: 12px;
  color: #aaa;
}
.side-menu {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #220e29;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.side-menu.open {
  left: 0;
}
.profile-block {
  background-image: url('https://images.wallpaperscraft.ru/image/single/serdechki_ogni_svechenie_147987_225x300.jpg');
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  position: relative;
}
.profile-block .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 3%;
  margin-top: 13%;
}
.profile-block .name {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.profile-block .id {
  font-size: 14px;
  color: #aaa;
}
.profile-block .dropdown-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-left: 5px;
  transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 42%;
}
.menu-items {
  width: 100%;
}
.menu-items a {
  display: block;
  padding: 12px 16px;
  background-color: #360d52;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  margin-bottom: 10px;
}
.menu-items a:hover {
  background-color: #4b0580;
  transform: translateY(-2px);
}
.menu-items a:active {
  transform: translateY(1px);
}
.settings-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  padding: 20px;
}
.settings-menu.active {
  display: flex;
}
.settings-menu .close-settings {
  cursor: pointer;
  color: #fff;
  margin-bottom: 20px;
}
.settings-menu .setting-item {
  background-color: #444;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.rotate-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: none;
}
.chat-window {
  display: none;
  flex-direction: column;
  height: 100%;
  background-color: #222;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.ch-avatar{
  border-radius: 50%;
}
.chat-header {
  display: flex;
  align-items: center;
  background-color: #341c3c;
  height: 8%;
  padding-top: 7%;
  position: relative;
}
.back-arrow {
  margin-right: 10px;
}
.back-arrow img {
  width: 40px;
  height: auto;
}
.ch-avatar {
  width: 40px;
  height: auto;
  margin-right: 10px;
}
.header-info {
  flex-grow: 1;
}
#chat-title {
  font-weight: bold;
  font-size: 18px;
}
.last-seen {
  font-size: 14px;
  color: #aaa;
  white-space: nowrap;
}
.phone{
  position: absolute;
  height: 50px;
  width: auto;
  margin-left: 75%;
  top: 40%;
  color: #fff;
}
.vertical-dot {
  position: absolute;
  height: 10%;
  width: auto;
  right: 15px;
  top: 55%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
}
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  background-image: url("https://avatars.dzeninfra.ru/get-zen_doc/9195055/pub_648a0eec9506570f87e0b518_648a0efcc4bec04674773e9d/scale_1200");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}
.message {
  max-width: 80%;
  padding: 10px;
  margin: 2px 0;
  position: relative;
  align-self: flex-end;
  opacity: 0.9;
}
.message.sent {
  background-color: rgba(93, 6, 151, 0.9);
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 15%;

}
.message.sent:first-child {
  border-top-right-radius: 25px;
}
.message.sent:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10;
}
.message.sent:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 5%;
    height: 10px;
    background-color: rgba(93, 6, 151, 0.9);
    border-top-right-radius: 50px;
}
.message-time {
  display: block;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
}
.message.sent:not(:last-child) {
  border-bottom-right-radius: 5px;
}
.chat-input {
  display: flex;
  padding: 2%;
  background-color: #341c3c;
}
#message-input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  margin-right: 10px;
  background-color: #341c3c;
}
.chat-input button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #341c3c;
  cursor: pointer;
}