body {
    font-family: Arial, Helvetica, sans-serif;
}

.color-list {
    list-style-type: none;
    padding: 40px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}